########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

persistence true
log_dest syslog

# This is here for testing purposes
#{{ mosquitto | json }}
